@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.stroked {
  -webkit-text-stroke: 1px black;
}

.text-gradient-1 {
  background: linear-gradient(
    135deg,
    rgba(126, 255, 158, 1) 0%,
    rgba(25, 215, 255, 1) 35%,
    rgba(125, 4, 190, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(
    135deg,
    rgba(168, 255, 190, 1) 0%,
    rgba(143, 236, 255, 1) 35%,
    rgba(216, 143, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
